:root {
  --c00: #ffdf40;
  --c01: #ff8359;

  --c02: #Aff57a;
  --c03: #54d169;

  --c04: #46eeaa;
  --c05: #2cbfc7;

  --c06: #15eded;
  --c07: #029cf5;

  --c08: #59c2ff;
  --c09: #1270e3;

  --c10: #5496ff;
  --c11: #8739e5;

  --c12: #ff63de;
  --c13: #b122e5;

  --c14: #ff7c6e;
  --c15: #f5317f;
}
