@font-face {
  font-family: 'Pacifico';
  src: url('./assets/Pacifico-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  src: url('./assets/Pacifico-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  src: url('./assets/Pacifico-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.logo-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}